<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="extentReport.ExtentTestNGIReporterListener"/>
</listeners>
   <test thread-count="5" name="ChromeTest">
  <parameter name="browser" value="Chrome" />
    <classes>
      <class name="pack123.TestNgTestClass1"/>
    </classes>
     </test> <!-- Test -->
     
     <test thread-count="5" name="McrosoftEdgeTest">
  <parameter name="browser" value="MicrosoftEdge" />
    <classes>
      <class name="pack123.TestNgTestClass1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
